doctype html
html
	head
		title Add ingredient
		include ./parts/commonheader
		link(href=cssURL + '/style.css' rel='stylesheet')
		script(src=jsURL + '/util.js' type='text/javascript')
		script(src=jsURL + '/client.js' type='text/javascript')
		script(src=jsURL + '/addIngredient.js' type='text/javascript')
		script.
			const DATA_URL = '#{dataURL}'
			const RECIPE_URL = '#{recipeURL}'
	body(class='bg-dark text-white')
		h1 Add ingredient
		div(class='container')

			- var ingredientActive = 'active'
			include ./parts/navbar

			div(class='row')
				div
					label(for='name') Name
						input(type='text' name='name' id='name' required)

				div
					label(for='amount') Amount
						input(type='number' name='amount' id='amount' required)

				div
					label(for='unit') Unit
						select(name='unit' id='unit')

							-
								const units = ['cup', 'floz', 'g', 'gal', 'kg', 'lb',
									'liter', 'oz', 'pint', 'quart', 'tbsp', 'tsp']

							each unit in units
								option(value=unit) #{unit}

				button(onclick='submitIngredient()') Submit
