doctype html
html(lang='en')
	head
		title Recipes
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet' href='/deps/css/bootstrap.min.css')
		script(type='application/javascript' src=jsURL + '/jquery.min.js')
		link(rel='stylesheet' href=cssURL + '/style.css')
		script(type='application/javascript' src=jsURL + '/app.js')
		script.
			const DATA_URL = '#{dataURL}'

	body.bg-dark.text-white
		.container
			include ./parts/navbar

			include ./parts/alert

			#page-home.page
				include ./home

			#page-my-recipes.page.d-none
				include ./myRecipes

			#page-pantry.page.d-none
				include ./pantry

			#page-recipe-add.page.d-none
				include ./recipeAdd

			#page-pantry-add.page.d-none
				include ./pantryAdd

			#page-edit-recipe.page.d-none
				include ./editRecipe

			#page-recipe.page.d-none
				include ./recipe

			#page-profile.page.d-none
				include ./profile

		#templates.d-none
			include ./parts/ingredientInput
