doctype html
html(lang='en')
	head
		title Recipes
		include ./parts/commonheader
		link(rel='stylesheet' href=cssURL + '/style.css')
		script(src=jsURL + '/util.js')
		script(src=jsURL + '/client.js')
		script(src=jsURL + '/search.js')
		script.
			const DATA_URL = '#{dataURL}'
			const RECIPE_URL = '#{recipeURL}'
	body(class='bg-dark text-white')
		h1 Home
		div(class='container')

			- var homeActive = 'active'
			include ./parts/navbar

			div(class='row')
				div(class='col')
					- var searchResultsTableBodyID = 'searchResults'
					label(for='search') Search
					input(
						id='search'
						class='form-control'
						type='text'
						onkeyup='search(event, this, (val) => updateRecipeTable("'+searchResultsTableBodyID+'",val))'
					)

			div(class='row mt-3')
				div(class='col')
					table
						tbody(id=searchResultsTableBodyID)
