html
	head
		title Recipes
		link(href=cssURL + '/style.css' rel='stylesheet')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js' type='text/javascript')
		script(src=jsURL + '/util.js' type='text/javascript')
		script(src=jsURL + '/client.js' type='text/javascript')
		script(src=jsURL + '/search.js' type='text/javascript')
		script.
			const DATA_URL = '#{dataURL}'
			const RECIPE_URL = '#{recipeURL}'
	body
		h1 Home
		div
			a(href='/add') Add recipe
			a(href='/add/ingredient') Add ingredient

		div
			p Search
				- var searchResultsTableBodyID = 'searchResults'
				input(
					type='text'
					onkeyup='search(event, this, (val) => updateRecipeTable("'+searchResultsTableBodyID+'",val))'
				)
			table
				tbody(id=searchResultsTableBodyID)
