.row
	.col.pr-0: input#filter.form-control(
			type='text'
			autocomplete='off'
			onkeyup='app.onPantrySearch(event, this.value)'
			placeholder='Search')

	.col-auto: button#pantry-add-btn.btn.btn-light(onclick='app.showPantryAddPage()') +


#pantry-item-list.mt-3 Loading pantry...


#template-pantry-item.row.py-1.align-items-center.hover-row.d-none
	.col.pantry-name
	.col.px-1.pantry-editable
		span.pantry-amount
		span.pantry-unit
	.col.px-1.pantry-amount-edit.d-none.input-group
		input.pantry-amount-input.form-control(type='number'
			autocomplete='off')
		.input-group-append
			button.btn.btn-success.pantry-amount-confirm &#x2714;
			button.btn.btn-danger.pantry-amount-cancel x

	.col-auto: button.btn.btn-danger.pantry-delete x
	.col-auto.pl-0.d-none: button.btn.btn-success.pantry-delete-confirm &#x2714;
